@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Architects+Daughter&display=swap');
body{
font-family: 'Alfa Slab One', cursive; }
.div{
    text-align: center;
    padding: 1rem;
    padding-bottom: 1rem;
}
.button{
	margin: auto;
    padding:0.5rem;
    margin-top:1.5rem;
    margin-left:43%;
    font-family:'Comic Neue', cursive;
    background-color:#46D7F8 ;
	border: none;
    
}
.header{
    text-align: center;
}
.navigation{
    padding:1rem;
    background-color:#46D7F8;
    opacity: 0.8;
    padding:1rem;
    font-size:x-large;
    color: black;
		width: 90%;
	margin: auto;

}
.ft{
	margin: auto;
	width: 90%;
    padding:1rem;
    background-color:#46D7F8;
    opacity: 0.8;
    padding:rem;
    font-size:x-large;
    color: black;
    text-align: center;

}